{% extends 'list_base.html' %}
{% load static %}

{% block headlist %}
<script src="{% static 'js/listado.js' %}"></script>    
{% endblock headlist %}

{% block columns %}
<tr>
    <th scope="col" style="width: 10%;">Nro</th>
    <th scope="col" style="width: 20%;">Nombre</th>
    <th scope="col" style="width: 50%;">Descripción</th>
    <th scope="col" style="width: 20%;">Opciones</th>
</tr>
{% endblock columns %}

{% block rows %}

{% endblock rows %}

{% block javascript %}
  
{% endblock javascript %}